*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Added for ABC Mailbox
/.kotlin
*.hprof
.env
/tools/*.token

# Node tooling
/tools/node_modules
/tools/dev-group-key.json
